/bin
/test-output
/result
/target
/ivy-lib
.settings/org.eclipse.jdt.core.prefs
selenium.properties
/Automation.log
/reports
/testdata/sfdc/acceptancetests/.~lock.AcceptanceTests.xls#
/screenshots
/pdf_temp
/testdata/sfdc/RulesEngine/Jobs/Temp_job.txt
/resources/datagen/process
.idea
gs-automation.iml