<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<suite name="Automation Project">
	<test name="Acceptance Tests">
		<classes>
			<class name="com.gainsight.sfdc.acceptance.tests.AcceptanceTest">
				<methods>
					<include name="testAddNewCustomerAndTransaction" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
